<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    <target name="logFile" xsi:type="File"
              fileName="${basedir}/log.txt"
              deleteOldFileOnStartup="true"
              layout="${level}: ${message} ${exception:format=Message,StackTrace}" />


    <target name="console" xsi:type="Console"  layout="${longdate} ${level}: ${message} ${exception:format=Message,StackTrace}" />
  </targets>
  <rules>
    <!-- add your logging rules here -->    
    <logger name="*" minlevel="Info" writeTo="logFile" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>